// color variables
$main-font-color: #d2d4d1;
$primary-color: #171c1e;
$secondary-color: #232729; // not 100% correct or #1F2426
$accent-color: #a5e255;

// FONT Variables
$main-font: "Poppins", sans-serif;
