// color variables
$main-font-color: #D2D4D1;
$primary-color: #171C1E;
$secondary-color: #232729; // not 100% correct or #1F2426
$accent-color: #A5E255;


// FONT Variables
$main-font: 'Poppins', sans-serif;