.btn{
    border: none;
    padding: 10px 30px;
    border-radius: 20px;
}

.btn-primary{
    background-color: $accent-color;
}

.btn-secondary{
    border: 2px solid $accent-color;
    background-color: transparent;
}