.modal-btn{
    border: 1px solid $accent-color;
    text-align: center;
    height: 3rem;
    width: 10rem;
    padding: 0.4rem 0;
    font-size: 1.2rem;
    margin-right: auto;
    color: $main-font-color;
    text-decoration: none;
    &:visited{
        color: $main-font-color;
    }
}

// MEDIA QUERIES

@media(min-width:1000px){
    .modal-btn{
        height: 4rem;
        width: 11rem;
        padding: 0.8rem 0;
        font-size: 1.4rem;
    }
}