
// HEADER TITLE ANIMATIONS
@keyframes moveInLeft{
    0%{
        opacity: 0;
        transform: translateX(-50px);
    }

    80%{
        opacity: 0.75;
    }
    
    100%{
        opacity: 1;
        transform: translateX(0);
    }
}

@keyframes moveInRight{
    0%{
        opacity: 0;
        transform: translateX(50px);
    }

    80%{
        opacity: 0.75;
    }
    
    100%{
        opacity: 1;
        transform: translateX(0);
    }
}

@keyframes fadeIn {
    0%{
        opacity: 0;
    }
    100%{
        opacity: 1;
    }
}

// BURGER ANIMATIONS

.burger-line-1{
    transition: all .2s;
    transform: rotate(45deg);
    top: 1.2rem;
}
.burger-line-2{
    transition: all .2s;
    opacity: 0;
    bottom: 2px;
}
.burger-line-3{
    transition: all .2s;
    transform: rotate(-45deg);
    bottom: 1.4rem;
}