.about{
    width: 100vw;
    background-color: $secondary-color;
}

.about__content{
    height: 100vh;
    padding: $section-padding;
    @include flexCol;
    justify-content: space-evenly;
    &--title{
        font-size: $headerFontSizeSml;
        @include headerStyles;
    }
    &--text{
        font-size: 2rem;
        max-width: 950px;
    }
}

// MEDIA QUERIES (DESKTOP)

@media(min-width: 1024px) {
    .about__content{
        &--title{
            font-size: $headerFontSizeMed;
        }
        &--text{
            font-size: $text-font-size-xlg;
        }
    }
}