.contact{
    height: 100vh;
    width: 100vw;
    padding: $section-padding;
    background-color:  $primary-color;
    @include flexCol;
    justify-content: space-evenly;
    align-items: center;
    // TITLE
    &__title{
        font-size: $headerFontSizeSml;
        text-align: center;
        span{
            display: block;
            color: $accent-color;
        }
    }
    // FORM
    &__form{
        width: 100%;
        max-width: 690px;
        &--input{
            position: relative;
            .labels{
            position: absolute;
            transition: all .5s;
            top: 33%;
            left: 2%;
            font-size: $text-font-size-sml;
            }
        }
        &--msg{
            position: relative;
            .label-msg{
            position: absolute;
            top: 8%;
            left: 2%;
            font-size: $text-font-size-sml;
            transition: all .5s;
            }
        }
        &--btn{
            display: block;
        }
    }
}

.inputs{
    @include inputStyles;
    &:focus{
        border: 1px solid $accent-color;
        }
}

.inputs:focus ~ .labels,
    .inputs:not(:placeholder-shown).inputs:not(:focus) ~.labels{
    top: -10%;
    transition: all .5s;
    color: $accent-color;
    font-size: $active-label-font;
}
.inputs:focus ~ .label-msg,
    .inputs:not(:placeholder-shown).inputs:not(:focus) ~.label-msg{
    top: -4%;
    transition: all .5s;
    color: $accent-color;
    font-size: $active-label-font;
}

// MEDIA QUERIES (TABLET)
@media(min-width:768px){
    .contact{
        &__title{
            font-size: $headerFontSizeMed;
            span{
                @include headerStyles;
            }
        }
    }
}




