.header{
    height: 100vh;
    width: 100vw;
    padding: $section-padding;
    background-color: $primary-color;
}

.navbar{
    height: 10%;
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.burger-menu{
    width: 4rem;
    .line{
        width: 75%;
        height: .3rem;
        margin: 1rem auto;
        background-color: $main-font-color;
        border-radius: 10px;
        transition: all .2s;
        position: relative;
    }
}

.nav-links{
    display: none;
}

.nav-slide{
    position: fixed;
    background-color: $secondary-color;
    z-index: 30;
    height: 100%;
    width: 100%;
    top: 0%;
    right: 0%;
    @include flexCol;
    justify-content: space-evenly;
    align-items: center;
    transition: ease-in .5s;
    transform: translateX(-100%);
    .exit-icon{
        position: absolute;
        top: 2rem;
        right: 2rem;
    }
    a{
        font-size: $headerFontSizeSml;
        text-decoration: none;
        color: $main-font-color;
        &:visited{
            color: $main-font-color;
        }
    }
}

.nav-slide-active{
    transform: translateX(0%);
}

.logo{
    // height: 2rem;
    width: 6rem;
}

.hero{
    height: 90%;
    width: 100%;
    @include flexCol;
    justify-content: space-evenly;
    text-align: center;
    span{
        margin: 1rem 0;
    }
    //
    &__heading{
        font-size: $headerFontSizeSml;
        .h1-p1{
            display: block;
            position: relative;
            right: 25%;
            animation: moveInLeft 1s forwards;
            @include headerTransitions;
        }
        .h1-p2{
            display: block;
            position: relative;
            right: 10%;
            animation: 1s 1.2s moveInRight forwards;
            @include headerTransitions;
        }
        .h1-p3{
            animation: 1s 2s moveInLeft forwards;
            @include headerTransitions;
        }
        .h1-p4{
            // display: block;
            font-size: 1.4rem;
            @include headerTransitions;
            animation: 1s 2.5s fadeIn forwards;
        }
        .h1-p5{
            animation: 1s 2s moveInRight forwards;
            @include headerTransitions;
        }
        &--highlight{
            display: block;
            color: $accent-color;
            @include headerStyles;
            font-size: $headerFontSizeMed;
            position: relative;
        }
    }
    //
    &__btns{
        .btn:first-child{
            margin-bottom: 1.5rem;
        }
        // padding: 0 5%;
        @include flexCol;
        justify-content: space-between;
        align-items: center;
        @include headerTransitions;
        animation: 1s 2.5s fadeIn forwards;
    }
}

// HEADER MEDIA QUERIES (TABLET)

@media (min-width: 768px){
    .hero{
        &__heading{
            font-size: $headerFontSizeMed;
            &--highlight{
                font-size: $headerFontSizeLge;
            }
        }
        &__btns{
            .btn:first-child{
            margin-bottom: 0;
            }
            width: 75%;
            max-width: 850px;
            margin: 0 auto;
            flex-direction: row;
            justify-content: space-evenly;
        }
    }
}

// MEDIA QUERIES (DESKTOP)
@media(min-width: 1024px){
    .burger-menu{
        display: none;
    }
    .nav-links{
        display: block;
        height: 10%;
        width: 30%;
        display: flex;
        justify-content: space-between;
        align-items: center;
        font-size: $text-font-size-md;
        a{
            text-decoration: none;
            color: $main-font-color;
        }
        a:visited{
            color: $main-font-color;
        }
    }
}

// MEDIA QUERIES (DESKTOP-LARGE)

@media(min-width: 1200px){
    .hero{
        &__heading{
            font-size: $headerFontSizeLge;
            &--highlight{
                font-size: $headerFontSizeXL;
            }
        }
    }
};