.modal{
    display: none;
    background-color: rgba($primary-color, .8);
    height: 100vh;
    width: 100vw;
    position: fixed;
    z-index: 15;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    &__content{
        position: absolute;
        top: 50%;
        left: 50%;
        z-index: 20;
        transform: translate(-50%, -50%);
        background-color: $secondary-color;
        height: 90%;
        width: 90%;
        max-width: 965px;
        &--img{
            height: 40%;
            width: 100%;
            img{
                height: 100%;
                width: 100%;
                object-fit: cover;
                object-position: 50% 50%;
            }
        }
        &--details{
            padding: $section-padding;
            height: 60%;
            width: 100%;
            @include flexCol;
            justify-content: space-around;
            align-items: flex-start;
        }
        &--title{
            font-size: $text-font-size-lg;
            color: $accent-color;
            @include headerStyles;
        }
        &--descript{
            font-size: $text-font-size-sml;
        }
        &--list{
            H6{
                font-size: $text-font-size-sml;
                margin-bottom: 1rem;
            }
            margin: 1rem 0;
            list-style-position: inside;
        }
        &--links{
            display: flex;
            justify-content: space-evenly;
            align-items: center;
            width: 100%;
            max-width: 300px;
        }
    }
}

.exit-icon-modal{
    position: absolute;
    top: 1rem;
    right: 1rem;
    &:hover{
        cursor: pointer;
    }
}

.modal-active{
    display: block;
}

// MEDIA QUERIES (TABLET)

@media(min-width:700px){
.modal{
    &__content{
        display: flex;
        flex-direction: row-reverse;
        &--img{
            height: 100%;
            }
        &--details{
            height: 100%;
            }
        &--title{
            font-size: $headerFontSizeMed;
            }
        &--descript{
            font-size: $text-font-size-md;
        }
        &--list{
            h6{
                font-size: $text-font-size-xlg;
            }
            li{
                font-size: $text-font-size-md;
            }
        }
        }
    }
}

// MEDIA QUERIES (DESKTOP)

@media(min-width: 1000px){
    .modal{
        &__content{
            &--title{
            font-size: $headerFontSizeLge;
            }
        }
    }
}