.skills{
    background-color: $primary-color;
    height: 45vh;
    width: 100%;
    text-align: center;
    padding:$section-padding;
    @include flexCol;
    justify-content: space-evenly;
    align-items: center;
    &__title{
        font-size: $headerFontSizeSml;
        @include headerStyles;
        margin-bottom: $marginOneSideAuto;
    }
    &__icons{
        width: 100%;
        display: flex;
        justify-content: space-evenly;
        align-items: flex-end;
        margin-bottom: $marginOneSideAuto;
    }
    &__box{
        // width: 100%;
        margin-right: $marginOneSideGeneral;
        &:last-child{
            margin-right: 0;
        }
        &--svg{
            height: 100%;
            width: 35px;
            margin: 0 auto;
        }
        &--name{
            margin-top: $marginOneSideGeneral;
            font-size: $text-font-size-sml;
        }
    }
}

// MEDIA QUERIES ()

@media (min-width: 768px){
    .skills{
        &__title{
            font-size: $headerFontSizeMed;
        }
        &__box{
            &--svg{
            width: 55px;
            }
            &--name{
            font-size: $text-font-size-md;
            }
        }
    }
}

@media (min-width: 1024px){
    .skills{
        &__box{
            &--svg{
            width: 75px;
            }
            &--name{
            font-size: $text-font-size-md;
            }
        }
    }
}